---
import Section from '../../../components/common/Section.astro';
import ComingSoon from '../../../components/core/ComingSoon.astro';
import ContentLayout from '../../../layouts/ContentLayout.astro';
---

<ContentLayout>
  <Section>
    <p>yee</p>
  </Section>
</ContentLayout>
