---
import Comment from '../../../components/common/Comment.astro';
import InfoBox from '../../../components/common/InfoBox.astro';
import Section from '../../../components/common/Section.astro';
import SectionSubTitle from '../../../components/common/SectionSubTitle.astro';
import ComboCard from '../../../components/guides/ComboCard.astro';
import ContentLayout from '../../../layouts/ContentLayout.astro';
import { ComboTag } from '../../../types/guides/Combo';
---

<ContentLayout>
  <Section>
    <p>
      Combos are an essential part of lance gameplay in all Monster Hunter games. Lance typically
      allows three actions before resetting the combo tree. In Wilds specifically, we gain many new
      options to reset combos beyond the standard back hop or guard dash.
    </p>

    <SectionSubTitle title="Understanding Combo Mechanics" />
    <p>
      Charge Counter adds an additional layer to lance's combo system, as its power increases
      depending on how far you are into the combo. In some situations, you might want to use a
      slower or less powerful attack just to reach the final red level of Charged Counter at the
      optimal time.
    </p>

    <p>
      While in focus mode, mid thrusts allow you to strafe in all four directions, enabling small
      movement adjustments while attacking. High thrusts let you turn in any direction and reach
      higher targets, which is sometimes required to properly hit monster hitzones.
    </p>

    <SectionSubTitle title="Neutral" />
    <p>
      With the august balance update, we saw massive buffs the the wide sweep, both a raw and
      elemental damage increase, and when you perform it as the second attack in your combo, the
      third poke will come out ways faster.
    </p>

    <p>
      This makes it pretty much one of lance's best dps options in terms of damage coming from non
      counters.
    </p>

    <p>
      So in neutral you want to use as many wide sweeps and high thrusts as possible, while using
      mid thrusts for positioning. The wide sweep is still rather slow, so you really only want to
      squeeze it in when you know the monster's opening is long enough. But over time you'll learn
      these openings and how to maximize your damage output.
    </p>
  </Section>

  <Section title="Bread and Butter Combos">
    <p>
      All possible combos in Wilds perform similarly, but two stand out quite a bit. These work best
      when the monster is downed or you have a bigger opening. Almost all variations have a leaping
      thrust variation, that is slightly weaker in terms of damage, but allows for easier
      reposition/gap closing.
    </p>

    <SectionSubTitle title="High Thrust Wide Sweep (Raw)" />

    <p>
      With the wide sweep and high thrust buff, the best combo obviously includes both of these
      moves. Due to the increased wide sweep recovery, and the fact that a poke in third place deals
      more damage than in second place, and the fact that we can't start with a wide sweep, the best
      combo becomes high thrust, wide sweep, high thrust and then one of the finishers.
    </p>

    <p>
      When using a raw or status weapon, it's best to end with a charged counter, as even if you
      don't actually counter anything, it provides more raw dps than the triple thrust finisher.
    </p>

    <ComboCard
      combo={{
        title: 'High Thrust Sweep + CC',
        longTitle: 'HT Wide Sweep HT Charged Counter',
        stats: {
          motionValue: 224.1,
          elementModifier: 4.4,
          sharpnessCost: 4,
          duration: 4.6,
        },
        tags: [ComboTag.DamageRaw, ComboTag.DamagePeak, ComboTag.OpportunityLong],
        gif: 'https://assets.mhlance.com/wilds/ht-sweep-ht-cc.gif',
        strengths: ['Deals very high raw damage', 'Low sharpness consumption'],
        considerations: ['The wide sweep requires bigger commitment and is harder to aim'],
        inputs: {
          PlaystationInput: [['Circle'], ['Circle', 'Triangle'], ['Circle'], ['Circle']],
          XboxInput: [['B'], ['B', 'Y'], ['B'], ['B']],
          PCInput: [['MouseRight'], ['MouseRight', 'MouseLeft'], ['MouseRight'], ['MouseRight']],
        },
      }}
    />

    <Comment>
      this combo's motion value per second increased from 44 to 48.7 with the buffs, that's roughly
      a 10% dps increase
    </Comment>

    <p>
      If you are at a distance, you can always do the leaping thrust variation to close the gap and
      then transition into the normal combo. You trade a bit of damage for the gap closing ability.
    </p>

    <ComboCard
      reversed
      combo={{
        title: 'Leaping Thrust into Sweep HT CC',
        longTitle: 'Leaping Thrust into Sweep HT CC',
        stats: {
          motionValue: 237.1,
          elementModifier: 5.8,
          sharpnessCost: 4,
          duration: 5.25,
        },
        tags: [ComboTag.DamageRaw, ComboTag.Reposition, ComboTag.EfficiencySharpness],
        gif: 'https://assets.mhlance.com/wilds/lt-sweep-ht-cc.gif',
        strengths: ['Good gap closer', 'Low sharpness consumption'],
        considerations: ['Takes quite long to execute', 'Lower damage compared to normal version'],
        inputs: {
          PlaystationInput: [
            ['Circle', 'Triangle'],
            ['Circle', 'Triangle'],
            ['Circle'],
            ['Circle'],
          ],
          XboxInput: [['B', 'Y'], ['B', 'Y'], ['B'], ['B']],
          PCInput: [
            ['MouseRight', 'MouseLeft'],
            ['MouseRight', 'MouseLeft'],
            ['MouseRight'],
            ['MouseRight'],
          ],
        },
      }}
    />

    <p>
      A wide sweep variation is often the best follow up after a power clash, as it usually leaves
      you at a distance where this combo perfectly catches up to the monster and your other follow
      up options just miss.
    </p>

    <p>
      Another advantage that these sweep combos have is that they are very sharpness efficient, as
      we do slower but heavier hitting attacks, resulting in less hits of sharpness consumed per
      second.
    </p>

    <SectionSubTitle title="Mid Thrust Wide Sweep (Element)" />

    <p>
      When using an elemental weapon, and hitting a decent elemental weakspot (eHzv > 10) we can
      make use of the high elemental modifiers of mid thrusts and the triple finisher. The damage of
      the wide sweep is too good to give up so the combo becomes: mid thrust, wide sweep, mid
      thrust, triple finisher.
    </p>

    <ComboCard
      combo={{
        title: 'Mid Thrust Sweep + Triple',
        longTitle: 'MT Wide Sweep MT Triple Finisher',
        stats: {
          motionValue: 216,
          elementModifier: 7.8,
          sharpnessCost: 4,
          duration: 4.74,
        },
        tags: [ComboTag.DamageHybrid],
        gif: 'https://assets.mhlance.com/wilds/mt-sweep-mt-triple.gif',
        strengths: ['Deals very good raw and element damage', 'Low sharpness consumption'],
        considerations: ['The wide sweep requires bigger commitment and is harder to aim'],
        inputs: {
          PlaystationInput: [['Triangle'], ['Circle', 'Triangle'], ['Triangle'], ['Triangle']],
          XboxInput: [['Y'], ['B', 'Y'], ['Y'], ['Y']],
          PCInput: [['MouseLeft'], ['MouseRight', 'MouseLeft'], ['MouseLeft'], ['MouseLeft']],
        },
      }}
    />

    <p>
      If the raw hitzone is very high compared to the elemental hitzone, the above high thrust
      charged counter combo is still more effective, as lance is currently still more of a raw
      weapon. It's just because all artian weapons get the element for free we get free bonus damage
      by matching the element.
    </p>

    <p>
      Again we can also perform a leaping thrust variation to close the gap and then transition into
      the combo.
    </p>

    <ComboCard
      reversed
      combo={{
        title: 'Leaping Thrust into Sweep MT Triple',
        longTitle: 'Leaping Thrust into Sweep MT Triple',
        stats: {
          motionValue: 236,
          elementModifier: 9,
          sharpnessCost: 4,
          duration: 5.61,
        },
        tags: [ComboTag.DamageHybrid, ComboTag.Reposition],
        gif: 'https://assets.mhlance.com/wilds/lt-sweep-mt-triple.gif',
        strengths: ['Good gap closer', 'Low sharpness consumption'],
        considerations: ['Takes quite long to execute', 'Lower damage compared to normal version'],
        inputs: {
          PlaystationInput: [
            ['Circle', 'Triangle'],
            ['Circle', 'Triangle'],
            ['Triangle'],
            ['Triangle'],
          ],
          XboxInput: [['B', 'Y'], ['B', 'Y'], ['Y'], ['Y']],
          PCInput: [
            ['MouseRight', 'MouseLeft'],
            ['MouseRight', 'MouseLeft'],
            ['MouseLeft'],
            ['MouseLeft'],
          ],
        },
      }}
    />
    <SectionSubTitle title="Mid Thrust Spam (Elemental/Corrupted Mantle)" />

    <p>
      For a long time this was considered the best lance combo in the game, but due to the balance
      patch, wide sweep combos are now superior. However, this combo still offers the highest
      elemental damage output and is also the fastest combo.
    </p>

    <p>
      Because of it's speed it doesn't just let you react to any incoming attack the best, it also
      reaches the final level of Charge Counter the quickest.
    </p>

    <ComboCard
      combo={{
        title: 'Mid Thrust Spam',
        longTitle: 'Triple Mid Thrust into Triple Thrust',
        stats: {
          motionValue: 160,
          elementModifier: 7.6,
          sharpnessCost: 4,
          duration: 3.83,
        },
        tags: [ComboTag.DamageElemental, ComboTag.ExecutionSimple, ComboTag.OpportunityShort],
        gif: 'https://assets.mhlance.com/wilds/mt-spam.gif',
        strengths: [
          'Fastest combo to stack Charge Counter',
          'Very high elemental damage and easy to execute',
          'Good for positioning due to strafing',
        ],
        considerations: ['Low damage', 'Consumes slightly more sharpness than other combos'],
        inputs: {
          PlaystationInput: [['Triangle'], ['Triangle'], ['Triangle'], ['Triangle']],
          XboxInput: [['Y'], ['Y'], ['Y'], ['Y']],
          PCInput: [['MouseLeft'], ['MouseLeft'], ['MouseLeft'], ['MouseLeft']],
        },
      }}
    />

    <p>
      So the true power of this combo doesn't necessarily come from the damage it deals, but rather
      from it's reaction speed and ability to reposition.
    </p>

    <InfoBox type="tip">
      <b>Advanced Tip:</b>
      Strafing the third mid thrust is slightly slower than not strafing, so the optimal combo is something
      like: strafe left poke, strafe right poke, neutral poke, then triple thrust. However, this damage
      difference is very very small.
    </InfoBox>

    <p>
      Additionally it synergizes the best with corrupted mantle as the mantle only provides extra
      damage ticks on mid thrusts and triple thrust, making this combo really strong while wearing
      it.
    </p>
  </Section>
</ContentLayout>
