---
import { Icon } from 'astro-icon/components';
---

<div class="flex flex-col h-full text-center justify-center space-y-6 max-w-xl mx-auto">
  <!-- ghost icon -->
  <div class="flex justify-center animate-bounce">
    <Icon name="mingcute:ghost-line" class="w-32 h-32 text-primary-light" />
  </div>

  <!-- error message -->
  <div class="space-y-2">
    <h1 class="text-8xl font-bold text-primary-dark">404</h1>
    <p class="text-2xl">oops! page not found</p>
  </div>

  <!-- return home button-->
  <div>
    <a
      href="/"
      class="inline-flex items-center gap-2 px-6 py-3 rounded-lg transition-colors bg-primary-light text-background hover:bg-primary-lighter"
    >
      return home
      <Icon name="mingcute:arrow-right-line" class="" />
    </a>
  </div>
</div>
