---
import BuildTabs from '../../../components/builds/BuildTabs.astro';
import Section from '../../../components/core/layout/Section.astro';
import SectionSubTitle from '../../../components/core/typography/SectionSubTitle.astro';
import ContentLayout from '../../../layouts/ContentLayout.astro';
---

<ContentLayout>
  <Section title="Final Builds [MR 160+ / AR 241+]">
    <p>
      These are the final Sunbreak End Game Builds. They make use of Fully Augmented Weapons, all
      armor pieces and the latest Decorations.
    </p>

    <p>
      Especially important are the Amatsu, risen shagaru and Primordial Malzeno armor pieces since
      they are pretty much part of every build. At AR 241+ you can finally craft Attack+4 and
      Expert+4 decos. Intrepid Heart jewels are also gonna be part of most builds since the skill
      adds a lot of comfort. We'll also include Fully Augmented Weapons with all slots unlocked.
      Some of the builds rely on the extra Sharpness you get from the Slot Bonuses. Especially most
      of the elemental lances need that extra Sharpness to function properly.
    </p>

    <p>
      After beating Amatsu we will also lock new melding methods. This time we can make qurious
      charms with more unique skills and better slots. For Raw builds we usually want a Buildup
      Boost charm or Mail Of Hellfire charm from Vigor Melding so we can fit all levels. Meanwhile
      for elemental builds we are using Cyclus Melding to get an additional 2 slot over Aurora
      Melding.
    </p>

    <SectionSubTitle title="Build Types" />

    <p>
      There's a lot of different builds so I've split them into 3 categories. First we have Raw Meta
      Builds. These are the best builds for general use. Shield Tackle or Guard Dash doesn't matter.
    </p>

    <p>
      Then we have Elemental Meta Builds. These builds are optimized for Leaping Thrust spam with
      Guard Dash. In the correct Elemental Matchups these builds are stronger than the Raw Meta
      Builds. The drawback is that you need to have a lot of different lances and armor sets.
    </p>

    <p>
      Lastly we have Fun Builds. These might not be the best highest damaging builds but more niche
      builds that are fun to play. You can find stuff like Status Trigger Evasion builds, or
      Para/sleep builds or even a Skyward/spiral Amatsu build.
    </p>

    <SectionSubTitle title="Master's Touch Vs Heaven Sent" />

    <p>
      The skill Heaven-Sent introduces an alternative form of Sharpness management. The skill
      activates after a while of you not getting Knocked Back. When active you get infinite
      Sharpness and Stamina. Once you get Knocked Back from getting hit you lose the skill and have
      to wait for it to activate again.
    </p>

    <p>
      Taking chip or getting hit with Intrepid Heart up doesn't count as getting Knocked Back and
      won't deactivate the skill. It therefore isn't as hard to maintain it as it might sound. The
      advantage is that you never have to sharpen, you can drop all Sharpness managing skills and
      you can use Maximum Might for Affinity due to the infinite Stamina.
    </p>

    <p>
      The downside is that you are locked into using the 3 Amatsu armor pieces that have the skill.
      The performance of the build also depends on the Uptime Of The Skill, since both Sharpness and
      Affinity will drop when the it's not active.
    </p>
  </Section>

  <Section title="Raw Meta 🔰">
    <p>
      Overall the Heaven-sent bazel build is the highest Raw build. It works because we can easily
      negate the negative Affinity with Maximum Might when using Heaven-sent. Raw builds using the
      Kaktus Lance are still highly competitive. Obviously the reach a lot less Raw but in matchups
      where monsters have 10+ Fire element hitzones, the Elemental Damage together with the Poison
      Damage can make up for it. The Kaktus Lance is stronger when paired with Master's Touch since
      it already comes with a lot of Sharpness and Affinity, allowing us to fit more skills.
    </p>

    <p>
      I personally prefer the Heaven-sent builds because for me they are more comfortable to play
      due to the infinite Sharpness. Also when you do get hit and the skill deactivates the Damage
      you take will be reduced, which is quite nice.
    </p>
  </Section>
</ContentLayout>
