---
import ExternalLinkButton from '../../../components/core/buttons/ExternalLinkButton.astro';
import ContentLayout from '../../../layouts/ContentLayout.astro';
import InfoBox from '../../../components/core/alert/InfoBox.astro';
---

<ContentLayout>
  <p>
    When starting out in Low Rank, don't get too caught up with gear choices. The crafting system
    really opens up later - right now you're working with a pretty stripped-down version where you
    can't access most of the key Core Skills or any Decorations, and the armor pieces only give you
    basic skill combinations.
  </p>

  <p>
    The nice thing is, none of this matters much. You'll blast through Low Rank in a few hours on
    your way to High Rank, where the real equipment crafting begins. Until then, focus on getting
    comfortable with your weapon's moves and learning the basic game mechanics rather than stressing
    about gear.
  </p>

  <p>If you still want some guidance on what's best to use, here are some suggestions.</p>

  <InfoBox>
    <p>
      This guide is based on Chef's Monster Hunter Rise progression guide. Big thanks for doing all
      the research and work to put this together 🙏 I've added some optimizations to account for the
      changes caused by the Expansion.
    </p>
    <ExternalLinkButton
      href="https://docs.google.com/document/d/1o7iko_LPF2EqZR-WL5vGxcmfKddSZQ6giboEtAQ9YyY/edit?pli=1&tab=t.0#heading=h.oh1siqy2jmmg"
      name="Chef's Monster Hunter Rise Progression Guide"
    />
  </InfoBox>
</ContentLayout>
