---
import { getButtonClass, getButtonEmoji } from '../../utils/ComboUtils';
import type { Platform } from '../../types/guides/Combo';

interface Props {
  sequence: any[];
  platform: Platform;
  isLastSequence: boolean;
}

const { sequence, platform, isLastSequence } = Astro.props;
---

<div class="flex items-center gap-1">
  {sequence.length > 1 && <div class="text-text/60 text-3xl">(</div>}
  {
    sequence.map((button: any, j: number) => (
      <>
        <div class={getButtonClass(button, platform)}>{getButtonEmoji(button, platform)}</div>
        {j < sequence.length - 1 && <div class="text-text/60">+</div>}
      </>
    ))
  }
  {sequence.length > 1 && <div class="text-text/60 text-3xl">)</div>}
  {!isLastSequence && <div class="text-text/60">→</div>}
</div>
