---
import type { SharpnessType } from '../../types/builds/Build';
import { getSharpnessColor } from '../../utils/BuildUtils';

interface Props {
  hits: number;
  type: SharpnessType;
  class?: string;
}

const { hits, type, class: className } = Astro.props;
---

<div class:list={['w-full mb-6', className]}>
  <div class="flex items-center justify-between mb-2">
    <span class="text-sm text-text/60">SHARPNESS</span>
    <span class="text-sm font-medium">{hits} {type.toLocaleLowerCase()} hits</span>
  </div>
  <div class="h-2 bg-text/10 rounded-full overflow-hidden">
    <div
      class:list={['h-full transition-all duration-300', getSharpnessColor(type)]}
      style={`width: ${(hits / 100) * 100}%`}
    >
    </div>
  </div>
</div>
