---
import BuildCard from '../../../components/builds/BuildCard.astro';
import Section from '../../../components/core/layout/Section.astro';
import SectionSubTitle from '../../../components/core/typography/SectionSubTitle.astro';
import ContentLayout from '../../../layouts/ContentLayout.astro';

import reg2Star from '../../../assets/world/builds/low-rank/regular_2star.png';
import reg5Star from '../../../assets/world/builds/low-rank/regular_5star.png';
import NavigationButton from '../../../components/core/buttons/NavigationButton.astro';
---

<ContentLayout>
  <Section>
    <p>
      It really doesn't matter what you wear in Low Rank, since you will most likely go through it
      in a Few Hours and the skills you will be able to get aren't gonna make a big difference. If
      you still need some guidance, here are a few Example Builds.
    </p>

    <SectionSubTitle title="Defender/Guardian Gear" />

    <p>
      Defender Weapons and Guardian Armor are Special Gear that got added to the game in preparation
      for the release of Iceborne. They are meant to help players get through the Base Game as fast
      as possible, so they can start diving into the Expansion Content. The Defender Gear is very
      easy to craft and upgrade, while also being extremely powerful.
    </p>

    <p>
      I personally don't recommend using the Defender Gear on your first playthrough. Getting to
      explore the different Weapon Trees and Armor Skills, having to grind materials to craft sets
      ... are all essential parts of the Monster Hunter experience that you will miss out on.
    </p>

    <p>
      In the end it's up to you to decide if you want to use the Defender Gear or not, I'm gonna
      show you what you can use if you don't wanna take the easy route.
    </p>
  </Section>

  <Section title="Starting Low Rank - 2â­">
    <p>
      In the beginning it's important to collect as many Different Materials as you can during your
      hunts. Especially mining Outcrops and Bonepiles are important, since they will give you a lot
      of materials that you can use to craft new weapons and armor.
    </p>

    <p>With that said let's take a look at some of the first sets you can craft.</p>

    <BuildCard
      build={{
        title: 'Starter Set',
        description: [
          "We will start with the Bone Tree by crafting it's first Lance and then upgrading it to lvl 2. For the armor we will use some pieces of the bone set as well as some pieces that you can craft by defeating the first two monsters. There's not really a lot of good skills we can get at this point so we just go with some defensive skills and some attack skills, like Health Boost, Fortify, Critical Eye and Attack Boost.",
          "Please Ignore The Survival Charm. It's not possible to make it empty in the Set Builder Tool.",
        ],
        image: reg2Star,
        imageAlt: 'Regular 2 Star Build',
        stats: {
          raw: 135,
          sharpness: { hits: 60, type: 'yellow' },
          affinity: {
            avg: 5,
            peak: 5,
          },
        },
      }}
    />
  </Section>

  <Section title="Middle Of Low Rank - 3/4â­">
    <p>
      At Three Stars were just gonna gather rocks and bones from the newly unlocked Wildspire Waste.
      With those materials we can upgrade our Lance to Bone Lance III and then to Hard Bone Lance I
      The bone Weapon Tree doesn't require any special materials, offers pretty good stats and is
      the basis for weapons we will crafter later on.
    </p>
    <p>
      The armor at 3/4 Stars is not really interesting for us, so unless you need the Extra Defense
      I wouldn't bother crafting anything.
    </p>

    <p>
      After getting to the Coral Highlands for the first time, we receive a defense charm as well as
      the option to craft new charms. With the materials from Radobaan we can craft the Ironside
      Charm I which gives us a level of Guard. Other good charms you can craft are the Attack Charm
      I and the Health Charm I.
    </p>
  </Section>

  <Section title="Finishing Low Rank - 5â­">
    <p>
      The first Five Star quest unlocks Monster Bone+ which we can use to further upgrade our Lance
      to Hard Bone Lance II. With the materials from the next few monsters we can craft some new
      armor pieces with more defense and useful skills.
    </p>

    <p>
      First we craft the Ingot Vambraces giving us a level of Health Boost using the newly collected
      minerals. After fighting Odogaron you might want to craft it's coil for some extra Affinity
      and lastly there is Rathalos which unlocks a new cool helmet and chest piece. Crafting the
      chest needs a Rathalos Plate, which is a rare drop, so I wouldn't bother crafting it unless
      you get the plate first try because there will be better armor pieces available soon. If you
      end up farming Odogaron for a bit you might as well craft his weapon, since we will use it
      later on in High Rank.
    </p>

    <BuildCard
      build={{
        title: 'Ready For High Rank ',
        description: [
          'The Hard Bone Lance II comes with high Raw and decent Sharpness, making it a good weapon to use until we reach High Rank. The armor is a mix of different pieces that give us some attack skills and some defensive skills.',
          'Notice that we now have access to charms, which is why we equipped the Ironside Charm I for a level of Guard.',
        ],
        image: reg5Star,
        imageAlt: 'Regular 5 Star Build',
        stats: {
          raw: 200,
          sharpness: { hits: 40, type: 'green' },
          affinity: {
            avg: 10,
            peak: 10,
          },
        },
      }}
    />

    <SectionSubTitle title="What's Next?" />

    <p>
      The last quest of Low Rank is repelling Zorah Magdaros. After we complete it we will unlock
      High Rank and you are ready to go to the next section.
    </p>

    <NavigationButton href="/world/builds/high-rank" text="High Rank Builds" emoji="ðŸ’ " />
  </Section>
</ContentLayout>
