---
import InfoBox from '../../../components/core/alert/InfoBox.astro';
import ExternalLinkButton from '../../../components/core/buttons/ExternalLinkButton.astro';
import Section from '../../../components/core/layout/Section.astro';
import ImageCard from '../../../components/core/media/ImageCard.astro';
import ContentLayout from '../../../layouts/ContentLayout.astro';

import antiSpecies from '../../../assets/rise/data/anti_species.png';
---

<ContentLayout>
  <Section>
    <p>Here's a quick overview of which Anti-species Decoration works against which monster.</p>

    <InfoBox>
      <p>Thank you Gaudium for the original image!!</p>
      <ExternalLinkButton
        href="https://ko-fi.com/album/MHRS--Infographs-U7U5VJ80P"
        name="Original Image"
      />
    </InfoBox>

    <ImageCard
      src={antiSpecies}
      title="Anti-Species Decorations"
      alt="Anti-Species Decorations"
      maxWidth="1000px"
    />
  </Section>
</ContentLayout>
