---
import Section from '../../../components/core/layout/Section.astro';
import ContentLayout from '../../../layouts/ContentLayout.astro';
import MatchupChart from '../../../components/data/MatchupChart.astro';
import { riseMatchups } from '../../../data/rise/Matchups';
import { riseMonsters } from '../../../data/rise/Monsters';
---

<ContentLayout>
  <Section>
    <p>
      In Monster Hunter Rise, choosing the right build for each monster can dramatically impact your
      hunt times. While raw builds are always reliable, element and status setups can really shine
      against specific matchups.
    </p>

    <p>
      Remember that these recommendations assume equal investment in each build. For general
      hunting, you might prefer sticking to an all-purpose raw setup until you can craft multiple
      optimized builds. But for tough fights or speedruns, exploiting these optimal matchups can
      give you a significant advantage.
    </p>

    <MatchupChart matchups={riseMatchups} monsters={riseMonsters} />
  </Section>
</ContentLayout>
