---
import BuildCard from '../../../components/builds/BuildCard.astro';
import Section from '../../../components/common/Section.astro';
import StyledList from '../../../components/common/StyledList.astro';
import ContentLayout from '../../../layouts/ContentLayout.astro';
import NavigationButton from '../../../components/common/NavigationButton.astro';

import InfoBox from '../../../components/common/InfoBox.astro';
import Comment from '../../../components/common/Comment.astro';
import CodeBlock from '../../../components/common/CodeBlock.astro';
import ImageCard from '../../../components/common/ImageCard.astro';
import SectionSubSubTitle from '../../../components/common/SectionSubSubTitle.astro';
import SectionSubTitle from '../../../components/common/SectionSubTitle.astro';
import ExternalLinkButton from '../../../components/common/ExternalLinkButton.astro';

import gogma_artian from '../../../assets/wilds/builds/gog_artian.png';

import gorcherer from '../../../assets/wilds/builds/high-rank/tu4-gorcherer.png';
import fulgore from '../../../assets/wilds/builds/high-rank/tu4-fulgore.png';
import gog from '../../../assets/wilds/builds/high-rank/tu4-gog.png';
import poverty from '../../../assets/wilds/builds/high-rank/tu4-poverty.png';
---

<ContentLayout title="Coming Soon">
  <Section>
    <Comment> last updated for Gogmazios and AT Jin Dahaad </Comment>

    <p>
      These are the current endgame builds for Title Update 4, which added Gogmazions and AT Jin
      Dahaad. All of these builds assume you've completed the main story and have access to the
      highest rarity Gogma Artian weapons, plus pretty much all decorations and armor pieces.
    </p>

    <ExternalLinkButton href="/wilds/builds/endgame-tu2" name="Old Tu2 Builds" />
  </Section>

  <Section title="Weapons">
    <p>
      Artian Weapons just got even better with the new Gogmazios reinforcement system, allowing you
      to get armor-exclusive skills and even more stat bonuses. For a full guide on how the system
      works exactly, or how to perform save scumming, check out the guide by Masuku.
    </p>

    <NavigationButton
      href="https://lescarnetsdelawycademie.fr/gogmazios-weapons/"
      text="in-depth gogma artian guide"
      emoji="📓"
    />

    <p>
      When crafting new Artian weapons, make sure to pick 3 parts of the same element, all with <b
        >attack infusion</b
      >. This maximizes your chances of getting the desired element with optimal production bonuses.
      Avoid affinity infusion, it is noticeably worse.
    </p>

    <p>
      When you upgrade your Artian weapon, you can choose between attack, affinity, or element
      focus. Depending on the focus, you receive different bonus stats. Both element and attack
      focus are strong options, though element is technically the slightly superior choice (roughly
      0.05% more damage).
    </p>

    <p>
      Depending on your focus, the optimal stat rolls differ slightly. Regardless of build, always
      aim for 1x Sharpness EX and 2x Attack EX. If you went with element focus, look for 2x Attack
      III. With attack focus, we want to balance out the negative affinity, so choose 1x Affinity EX
      and 1x Attack III.
    </p>

    <p>
      There are very few matchups where maxing out element instead of attack is strictly better.
      Gogmazios himself, for example, is one case due to his Phase 3 weakness to Dragon. So if you
      don't want to craft like 11 different weapons, just max out raw.
    </p>

    <ImageCard
      src={gogma_artian}
      alt="reinforcement bonuses"
      caption="A dragon gogma artian lance with full attack infusion, element focus, 1x sharpness EX, 2x attack EX, 1x attack III and 1x attack II. Almost a max roll"
      maxWidth="500px"
    />

    <p>
      For the skills, aim for <b>Gore Magala's Tyranny</b> (Gore) or <b>Leviathan's Fury</b> (Lagiacrus)
      as the series skill. Then aim for <b>Lord's Soul</b> (Guts) as the group skill. These are by far
      the best-in-slot options.
    </p>
  </Section>

  <Section title="Element vs Raw">
    <p>
      Since Gogma Artian weapons can all reach the same raw damage, using elemental ones simply adds
      free damage on top. If possible, craft 6 different lances (one for each element plus one
      status/raw weapon) to maximize your damage potential across all matchups.. Using the right
      element typically adds 5-15% damage, which really adds up over time.
    </p>

    <p>Check the matchup table to see which element works best against each monster.</p>

    <NavigationButton href="/wilds/data/match-ups" text="matchup chart" emoji="📊" />

    <p>
      If you want to stick with raw weapons, blast is generally the best option, though paralysis is
      also solid for the openings it creates.
    </p>
  </Section>

  <Section title="RNG Charms">
    <p>
      The August update added a new RNG charm system. These charms allow you to potentially get more
      weapon skills. Aim for an <b>Armor Skill 3 slot</b> (or 1 level of Agitator/Burst/WEX) combined
      with skills like
      <b>Offensive Guard 3</b>, <b>Master's Touch 1</b>, or <b>Razor Sharp 3</b> on the charm.
    </p>

    <StyledList
      items={[
        {
          text: 'Armor Skills',
          subtext: '3 slot or 1 point of Wex/Agi or Burst',
          emoji: '🛡️',
        },
        {
          text: 'Weapon Skills',
          subtext: "All 3 levels of Offensive Guard, Razor Sharp or  1 level of Master's Touch",
          emoji: '🗡️',
        },
      ]}
    />

    <p>
      This usually allows you to slot in more Crit Boost or get extra affinity from Critical Eye or
      more raw from Attack Boost.
    </p>
  </Section>

  <InfoBox>
    All sets relying on Gore/Lord's Soul being on the weapon have an alternative build that can be
    made by replacing Gore with Lagiacrus and adding 1-2 levels of Latent Power. These sets are very
    minimally (1-2%) weaker than the Gore versions. You can hopefully figure out the details
    yourself 🙏
  </InfoBox>

  <Section title="Scorcherer Sets" emoji="🔥">
    <p>
      This is theoretically the highest damage set available. It utilizes Lord's Soul and Bloodlust
      to reach massive raw and affinity numbers. It maxes out every skill Lance wants, and as a
      bonus, grants Binding Counter and Scorcherer for free (we would most likely want to run these
      pieces even without those two skills).
    </p>

    <p>
      The transcended Guardian Rathalos allow us to max out the core skills and squeeze in a level
      of Scorcherer. Thanks to the recent buff that added fixed damage and lowered the cooldown,
      this skill is now quite powerful (even against fire resistant monsters).
    </p>

    <p>Binding counter is a nice raw damage boost, in matchups where we can proc it.</p>

    <BuildCard
      build={{
        title: 'Gorcherer',
        description: [
          "The new AT Jin pieces allow us to easily max out Agitator and get Binding Counter and Lord's Soul.",
          'Since the Gore armor is relatively skill inefficient but the series bonus is incredible, we choose to have 1 point on our weapon.',
          'The Transcended Guardian Rathalos pieces are insanely efficient thanks to the new slots, allowing us to max out our core skills and get Scorcherer on top.',
        ],
        image: gorcherer,
        imageAlt: 'gorcherer',
        stats: {
          raw: 554,
          sharpness: {
            hits: 180,
            type: 'white',
          },
          element: {
            type: 'fire',
            value: 51,
          },
          affinity: {
            avg: 81,
            peak: 100,
          },
        },
      }}
    />

    <InfoBox type="note">
      Note: The displayed EFR does not include the damage from Scorcherer. Although the number
      appears lower than other sets, Scorcherer adds around <strong
        >2-3% more effective damage</strong
      >
      in theory, and even more in practice.
    </InfoBox>
  </Section>

  <Section title="FulGore" emoji="🦖">
    <p>
      You may remember FulGore from the game's release. It makes a comeback return in TU4 now that
      we can fit Lord's Soul.
    </p>

    <p>
      We use 2 Transcended Fulgur Anjanath pieces to activate <strong>Second Wind</strong>. This
      grants a secondary stamina gauge, allowing you to execute stamina-heavy moves (like Dash
      Attack, Grand Retribution Thrust, or hops) without depleting your main bar. This prevents
      Maximum Might from deactivating, potentially allowing you to match or even exceed Gorcherer's
      damage output.
    </p>

    <p>
      However, this set is a bit harder to execute. You need to already be quite good at managing
      stamina to make good use of the tiny extra stamina bar. If you struggle with stamina, the
      passive damage from Scorcherer is simply more reliable. On the other hand, if your management
      is too good, you may not need the safety net of Second Wind to begin with.
    </p>

    <p>
      Ultimately, I believe FulGore shines if you have good monster knowledge and can play
      aggressively with stamina-draining moves (like GRT), whereas Gorcherer remains the simpler,
      more general option.
    </p>

    <BuildCard
      build={{
        title: 'FulGore',
        description: [
          "The new AT Jin pieces allow us to easily max out Agitator and get Binding Counter and Lord's Soul.",
          'Since the Gore armor is relatively skill inefficient but the series bonus is incredible, we choose to have 1 point on our weapon.',
          'We use 2 transcended Guardian Fulgur Anjanath pieces to get second wind.',
        ],
        image: fulgore,
        imageAlt: 'fulgore',
        stats: {
          raw: 557,
          sharpness: {
            hits: 220,
            type: 'white',
          },
          element: {
            type: 'fire',
            value: 51,
          },
          affinity: {
            avg: 84,
            peak: 100,
          },
        },
      }}
    />
  </Section>
  {
    /*
  <Section title="Gog Elemental" emoji="🔱">
    <p>
      When fighting Gogmazios or other monsters, like Seregios, with very high elemental-to-raw
      hitzone ratios, we can make use of the Gogmazios elemental boosting skill, Gogmapocalypse, to
      create a powerful hybrid build.
    </p>
    <p>
      Because the Gogmazios pieces possess additional series skills, we can run one G. Rathalos and
      G. Odogaron piece to get both Scorcherer and Burst Boost. These two together compensate for
      not running Lord's Soul, so we only need to aim for Gore on the weapon.
    </p>

    <p>
      On the weapon, instead of running 2x Attack III, we can aim to get 2x Element EX instead.
      Together with Gogmapocalypse and Burst, we reach element levels high enough where it's even
      worth slotting in Critical Element.
    </p>

    <BuildCard
      build={{
        title: '',
        description: [
          'We use the 2 Gogmazios pieces that come with a point of Burst Boost and Scorcherer.',
          'Then we use transcended G. Rathalos and G. Odogaron pieces to get the remaining points.',
          'The final piece is Gore, which together with the weapon helps us with affinity.',
        ],
        image: gog,
        imageAlt: 'gog elemental',
        stats: {
          raw: 474,
          sharpness: {
            hits: 170,
            type: 'white',
          },
          element: {
            type: 'dragon',
            value: 139,
          },
          affinity: {
            avg: 75,
            peak: 100,
          },
        },
      }}
    />
  </Section> */
  }
  <Section title="Poverty Scorcher" emoji="💸">
    <p>
      This set does not require any skills on your Gogma Weapon, it works right out of the box. We
      achieve Lord's Soul by using 3 AT Jin pieces, while still fitting in Scorcherer.
    </p>

    <p>
      Instead of using an RNG charm, we drop the extra Crit Boost and compensate for the loss of
      affinity (from not running Gore) with Latent Power. While not as reliable or strong as the
      meta options, this is an excellent budget entry point.
    </p>

    <BuildCard
      build={{
        title: 'Poverty Scorcher',
        description: [
          'We use 3 AT jin pieces to max out Agitator and get some Weakness Exploit',
          'Then we use 2 transcended Guardian Rathalos to round out the set and add Scorcherer.',
        ],
        image: poverty,
        imageAlt: 'poverty scorcher',
        stats: {
          raw: 532,
          sharpness: {
            hits: 180,
            type: 'white',
          },
          element: {
            type: 'fire',
            value: 51,
          },
          affinity: {
            avg: 78,
            peak: 100,
          },
        },
      }}
    />
  </Section>
</ContentLayout>
