---
import Section from '../../../components/common/Section.astro';
import ComingSoon from '../../../components/core/ComingSoon.astro';
import ContentLayout from '../../../layouts/ContentLayout.astro';
---

<ContentLayout>
  <Section>
    <p>
      Wild's low rank seems quite a bit different from older games, it's way more guided and
      cinematic, forcing you from one fight into the next without really giving you the old school
      monster hunter exploration vibe. For that same reason you probably also end up getting less
      materials and need to grind equipment.
    </p>

    <p>
      The armor available in low rank also doesn't really offer any interesting skills, so most of
      the time you just want to make whatever you can craft, and the only reason to make new armor
      is because of the increased defense it has.
    </p>

    <p>
      Still this guide offers some suggestions on what to craft and use, but don't feel like you
      need to grind to make these exact sets.
    </p>
  </Section>

  <Section title="Rescue In The Sandstorm - 1⭐">
    <p>yo</p>
  </Section>

  <Section title="Ecosystem In Collapse - 2⭐">
    <p>yo</p>
  </Section>

  <Section title="Guardians Of Ancient Wyveria - 3⭐">
    <p>yo</p>
  </Section>
</ContentLayout>
