---
import LandingLayout from '../layouts/LandingLayout.astro';
import Image from 'astro/components/Image.astro';
import GameCard from '../components/landing/GameCard.astro';
import LandingFooter from '../components/landing/LandingFooter.astro';
import { games } from '../data/Navigation';

import logo from '../assets/lance_logo_large3.png';
---

<LandingLayout title="Choose Your Game">
  <div class="container mx-auto px-4">
    <div class="min-h-screen flex flex-col items-center justify-center py-20">
      <Image
        src={logo}
        alt="J9 MH"
        width={350}
        height={80}
        class="mb-4 animate-title"
        loading="eager"
        decoding="async"
      />
      <p
        class="text-xl text-text/80 mb-16 text-center max-w-2xl animate-title [animation-delay:200ms]"
      >
        A collection of builds, guides, and data for Monster Hunter <span
          class="text-primary relative inline-block after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:bg-primary after:origin-left hover:after:scale-x-100 after:scale-x-0 after:transition-transform"
          >Lance</span
        > players.
      </p>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 max-w-7xl w-full">
        {games.map((game) => <GameCard game={game} />)}
      </div>

      <!-- Footer -->
      <LandingFooter class="mt-32" />
    </div>
  </div>
</LandingLayout>
