---
import LandingLayout from '../layouts/LandingLayout.astro';
import Image from 'astro/components/Image.astro';
import GameCard from '../components/landing/GameCard.astro';
import { games } from '../data/Navigation';

import logo from '../assets/lance_logo_large3.png';
import LandingFooter from '../components/landing/LandingFooter.astro';
---

<LandingLayout title="Choose Your Game">
  {/* Logo + Header */}

  <Image
    src={logo}
    alt="MH Lance"
    width={350}
    height={80}
    class="mb-4 animate-title w-[340px] md:w-[420px] lg:w-[500px] mt-6 md:mt-16"
    loading="eager"
    decoding="async"
  />
  <p
    class="text-md md:text-xl text-text/80 mb-8 md:mb-16 text-center max-w-2xl animate-title [animation-delay:200ms]"
  >
    a collection of builds, guides, and data for Monster Hunter <span
      class="text-primary relative inline-block after:absolute after:bottom-0 after:left-0 after:w-full after:h-[2px] after:bg-primary after:origin-left hover:after:scale-x-100 after:scale-x-0 after:transition-transform"
      >Lance</span
    > players
  </p>

  {/* Game Selection Cards */}
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-2 md:gap:12 w-full">
    {games.map((game) => <GameCard game={game} />)}
  </div>

  {/* Spacer for footer */}
  <div class="flex-1 min-h-[50px] md:min-h-[100px]"></div>

  <!-- Landing Footer with community cards -->
  <LandingFooter />
</LandingLayout>
