---
import { socials } from '../../data/Socials';
import SocialLink from '../core/footer/FooterSocials.astro';

const classList = Astro.props.class;
const currentYear = new Date().getFullYear();
---

<footer class={`w-full border-t border-text/10 relative ${classList}`}>
  <!-- Gradient Background -->
  <div class="absolute inset-0 bg-gradient-to-b from-background-dark to-secondary/5 opacity-70">
  </div>

  <div class="relative flex flex-col items-center justify-center gap-8 py-12">
    <!-- Social Links -->
    <div class="flex flex-col items-center gap-4">
      <h3 class="text-sm font-medium text-text/60 uppercase">Community</h3>
      <div class="flex items-center gap-6">
        {socials.map((social) => <SocialLink {...social} />)}
      </div>
    </div>

    <!-- Footer Text -->
    <div class="text-center space-y-2">
      <a href="/contributors" class="text-sm text-text/60"
        >Made with ❤️ by the Monster Hunter Lance community</a
      >
      <p class="text-xs text-text/40">© {currentYear}</p>
    </div>

    <div class="flex h-4"></div>
  </div>
</footer>
