---
import News from '../../components/home/News.astro';
import MainLayout from '../../layouts/MainLayout.astro';

import tu6Thumbnail from '../../assets/rise/tu6.png';
import PlaylistCard from '../../components/home/PlaylistCard.astro';
import QuickLinks from '../../components/home/QuickLinks.astro';
import GameContributors from '../../components/home/GameContributors.astro';
import HomeFooter from '../../components/home/HomeFooter.astro';
import HomeFAQ from '../../components/home/HomeFAQ.astro';

import { riseFaqs } from '../../data/rise/FAQs';
---

<MainLayout title="J9 MH - Rise/Sunbreak">
  <div class="max-w-8xl mx-auto px-4 sm:px-6 lg:px-8 mt-12 md:mt-24">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-12 md:gap-y-24 gap-x-8">
      <News
        title="New TU6 Endgame Builds"
        image={{
          src: tu6Thumbnail,
          alt: 'TU6 Endgame Builds',
        }}
        description="Check out the new TU6 endgame builds for Rise/Sunbreak!"
        link={{
          href: '/rise/builds/endgame',
          text: 'View Builds',
          emoji: 'ðŸ”',
        }}
      />

      <QuickLinks />

      <div>
        <HomeFAQ faqs={riseFaqs} />
      </div>

      <PlaylistCard
        playlistId="PLMgaMGsEoNvkWNRlP2hCDo_resRVXILO4"
        playlistName="Rise/Sunbreak Speedrun Playlist"
        playlistDescription="A playlist of cool Lance runs to watch"
      />

      <GameContributors />
    </div>
  </div>

  <div class="h-24"></div>
  <HomeFooter />
</MainLayout>
