---
import GameContributors from '../../components/home/GameContributors.astro';
import HomeFAQ from '../../components/home/HomeFAQ.astro';
import HomeFooter from '../../components/home/HomeFooter.astro';
import News from '../../components/home/News.astro';
import PlaylistCard from '../../components/home/PlaylistCard.astro';
import QuickLinks from '../../components/home/QuickLinks.astro';
import { wildsFaqs } from '../../data/wilds/FAQs';
import MainLayout from '../../layouts/MainLayout.astro';

import wildsSoon from '../../assets/wilds/coming_soon.png';
---

<MainLayout title="MH Lance - Wilds">
  <div class="max-w-8xl mx-auto px-2 sm:px-6 lg:px-8 mt-12 md:mt-24">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-12 md:gap-y-24 gap-x-8">
      <News
        title="New World/Iceborne Progression Guide"
        image={{
          src: wildsSoon,
          alt: 'World/Iceborne Progression Guide',
        }}
        description="New Wilds builds & guides are coming soon!"
        link={{
          href: '/wilds/',
          text: 'Just wait a bit longer',
          emoji: 'ðŸ”',
        }}
      />

      <QuickLinks />

      <div>
        <HomeFAQ faqs={wildsFaqs} />
      </div>

      <PlaylistCard
        playlistId="PLMgaMGsEoNvm348bMTeveCS1WZlisWQWq"
        playlistName="Rise/Sunbreak Speedrun Playlist"
        playlistDescription="A playlist of cool Lance runs to watch"
      />

      <GameContributors />
    </div>
  </div>

  <div class="h-24"></div>
  <HomeFooter />
</MainLayout>
