---
import InfoBox from '../../../components/common/InfoBox.astro';
import MatchupChart from '../../../components/data/MatchupChart.astro';
import { wildsMatchups } from '../../../data/wilds/Matchups';
import { wildsMonsters } from '../../../data/wilds/Monsters';
import ContentLayout from '../../../layouts/ContentLayout.astro';
---

<ContentLayout>
  <p>
    The Gogma Artian weapon system makes weapon choice super simple in Wilds. Since all weapons have
    the same potential raw and crit stats regardless of element or status, there's literally no
    reason not to bring whatever element the monster is weak to.
  </p>

  <InfoBox type="success">
    Matching elemental weakness gives you around 5-15% extra damage for free, depending on the
    elemental hitzone value and the ratio compared to the raw hitzone on the weakspot.
  </InfoBox>

  <MatchupChart matchups={wildsMatchups} monsters={wildsMonsters} />
</ContentLayout>
