---
import Image from 'astro/components/Image.astro';
import type { GameNavigation } from '../types/Navigation';
import GameCard from '../components/landing/GameCard.astro';

interface Props {
  games: GameNavigation[];
}

const { games } = Astro.props;

import logo from '../assets/logo_large.png';
---

<div class="container mx-auto px-4">
  <div class="min-h-screen flex flex-col items-center justify-center py-20">
    <Image src={logo} alt="J9 MH" width={200} height={60} class="mb-4" />
    <p class="text-xl text-text/80 mb-16 text-center max-w-2xl">
      A collection of builds, guides, and data for Monster Hunter <span class="text-primary"
        >Lance</span
      > players.
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 max-w-7xl w-full">
      {games.map((game) => <GameCard game={game} />)}
    </div>

    <!-- Footer -->
  </div>
</div>
