---
import { Games } from '../../data/games';
import MainLayout from '../../layouts/MainLayout.astro';
import { getGameById } from '../../utils/game';

export function getStaticPaths() {
  return Games.map((game) => ({
    params: { gameId: game.id },
  }));
}

const { gameId } = Astro.params;
const currentGame = getGameById(gameId);

if (!currentGame) {
  return Astro.redirect('/');
}
---

<MainLayout>
  <h1>{gameId}</h1>
</MainLayout>
