---
interface Props {
  class?: string;
  text?: string;
}

const { class: className, text } = Astro.props;
---

<code
  class:list={[
    'px-1 py-1 rounded-md text-sm font-mono border',
    'transition-all duration-200 hover:scale-105',
    'bg-text/7 text-secondary-light border-secondary-light/20',
    className,
  ]}
>
  {text ? <span>{text}</span> : <slot />}</code
>
