---
import { Icon } from 'astro-icon/components';

const currentPath = Astro.url.pathname;
const pathSegments = currentPath
  .split('/')
  .filter(Boolean)
  .map((segment, index, array) => ({
    name: segment.charAt(0).toUpperCase() + segment.slice(1),
    href: '/' + array.slice(0, index + 1).join('/'),
  }))
  .slice(1);

const { class: className } = Astro.props;

const FontStyle = 'text-text text-xl';
---

<nav aria-label="Breadcrumb" class=`${className}`>
  <ol class=`flex items-center space-x-2 ${FontStyle}`>
    {
      pathSegments.map((segment, index) => (
        <li class="flex items-center space-x-2">
          <Icon name="mingcute:arrows-right-fill" size={24} class="text-primary" />
          <a href={segment.href} class:list={['transition-colors duration-200 hover:text-primary']}>
            {segment.name.toUpperCase()}
          </a>
        </li>
      ))
    }
  </ol>
</nav>
