---
import { Icon } from 'astro-icon/components';

interface Props {
  showLabel?: boolean;
}

const { showLabel = false } = Astro.props;
---

<a
  href="https://github.com/Janniku9/j9mh"
  class="flex items-center gap-2 text-text hover:text-primary transition-colors relative group"
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="bg-background-dark rounded-full p-1.5">
    <Icon name="mingcute:github-fill" class="w-6 h-6" />
  </div>
  {showLabel && <span>GitHub</span>}
  <span
    class="absolute top-full left-1/2 -translate-x-1/2 mt-4 px-2 py-1 text-sm bg-background-dark text-text rounded opacity-0 group-hover:opacity-100 transition-opacity whitespace-nowrap border border-text/10"
  >
    Contribute today!
  </span>
</a>
