---
import { Image } from 'astro:assets';
import { LOGO_DIMENSIONS } from '../../../types/Header';
---

<div class="flex items-center">
  <a href="/" class="block">
    <Image
      src="/assets/logo_large.png"
      alt="Logo"
      width={LOGO_DIMENSIONS.large.width}
      height={LOGO_DIMENSIONS.large.height}
      class="hidden md:block object-contain"
    />
    <Image
      src="/assets/logo.png"
      alt="Logo"
      width={LOGO_DIMENSIONS.small.width}
      height={LOGO_DIMENSIONS.small.height}
      class="md:hidden object-contain"
    />
  </a>
</div>
