---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<nav
  class:list={[
    'hidden md:block fixed left-0 top-14 w-64 bg-background p-4 overflow-y-auto',
    className,
  ]}
>
  <div class="space-y-6">nav</div>
</nav>

<style>
  nav {
    scrollbar-width: thin;
  }

  nav::-webkit-scrollbar {
    width: 8px;
  }

  nav::-webkit-scrollbar-track {
    background: transparent;
  }

  nav::-webkit-scrollbar-thumb {
    border-radius: 4px;
  }
</style>
