---
import { Icon } from 'astro-icon/components';
---

<div class="flex md:hidden items-center gap-4 ml-2">
  <slot />
  <button
    id="mobile-menu-toggle"
    class="text-text hover:text-primary transition-colors p-2"
    aria-label="Toggle mobile menu"
  >
    <Icon id="menu-icon" name="mingcute:menu-line" size={26} />
    <Icon id="close-icon" name="mingcute:close-line" size={26} class="hidden" />
  </button>
</div>
