---
import ContentLayout from '../../../layouts/ContentLayout.astro';

import hinoa from '../../../assets/rise/guides/followers/hinoa.png';
import utsushi from '../../../assets/rise/guides/followers/utsushi.png';
import luchika from '../../../assets/rise/guides/followers/luchika.png';
import Section from '../../../components/common/Section.astro';
import ImageGridCard from '../../../components/common/ImageGridCard.astro';
---

<ContentLayout>
  <Section>
    <p>
      Monster Hunter Rise introduces an new feature: Followers. The story characters can join you on
      hunts, bringing unique weapons and skills to your team. Unlike multiplayer hunts, bringing
      Followers doesn't increase monster health, therefore speeding up your hunts if used properly.
    </p>

    <p>
      Followers help you by: Dealing consistent damage throughout the hunt, mounting and riding
      monsters when opportunities arise. Beyond just damage, they'll support you with healing items,
      and especially buffs, they can even set up traps and bombs at good moments.
    </p>
  </Section>

  <Section title="Recommended Followers" emoji="👥">
    <p>
      Let's look at two solid Follower combinations, depending on whether you want more comfort or
      damage:
    </p>

    <ImageGridCard
      title="Best Comfort Setup"
      maxCols={2}
      maxWidth="400px"
      images={[
        {
          src: hinoa,
          alt: 'Hinoa',
          title: 'Hinoa',
          caption: 'Hunting Horn',
        },
        {
          src: utsushi,
          alt: 'Utsushi',
          title: 'Utsushi',
          caption: 'Hunting Horn',
        },
      ]}
    >
      This combination provides constant buffs while keeping you safe through heals and defensive
      songs
    </ImageGridCard>

    <p>
      <p>
        This duo is perfect for learning fights or tackling tough monsters. Utsushi brings Attack Up
        and Element Up buffs, plus Blight Negation that lets you skip resistance skills in your
        build. Hinoa adds Defense Up and healing to the mix while still maintaining good damage
        output.
      </p>
    </p>

    <ImageGridCard
      title="Best Damage Setup"
      maxCols={2}
      maxWidth="400px"
      images={[
        {
          src: luchika,
          alt: 'Luchika',
          title: 'Luchika',
          caption: 'Heavy Bowgun',
        },
        {
          src: utsushi,
          alt: 'Utsushi',
          title: 'Utsushi',
          caption: 'Hunting Horn',
        },
      ]}
    >
      This pair excels at creating and capitalizing on openings while maintaining core buffs
    </ImageGridCard>

    <p>
      When you're comfortable with a monster, swap Hinoa for Luchika to speed up hunts. You'll keep
      Utsushi's crucial Attack Up buffs while gaining Luchika's Heavy Bowgun damage and excellent
      trap usage. Just be ready to handle your own healing!
    </p>
  </Section>
</ContentLayout>
