---
import MainLayout from './MainLayout.astro';
import type { Game } from '../types/Game';
import { games } from '../data/Navigation';
import MainFooter from '../components/core/footer/MainFooter.astro';
import PageTitle from '../components/common/PageTitle.astro';

const segments = Astro.url.pathname.split('/').filter(Boolean);
const gameId = segments[0] as Game;
const sectionType = segments[1];
const sectionId = segments[2];

const currentGame = games.find((game) => game.game === gameId);

const currentSection = currentGame?.sections[
  sectionType as keyof typeof currentGame.sections
]?.find((section) => section.id === sectionId);
---

<MainLayout title={`MH Lance - ${currentSection?.title ?? ''} `}>
  <div class:list={['max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-12 md:mt-24']}>
    <PageTitle
      title={currentSection?.title ?? ''}
      description={currentSection?.pageDescription ?? currentSection?.navDescription ?? ''}
      emoji={currentSection?.emoji ?? ''}
    />
    <div class="flex flex-col gap-8 md:gap-16">
      <slot />
    </div>
  </div>

  <div class="h-24"></div>
  <MainFooter />
</MainLayout>
