---
import { currentGameId } from '../stores/GameStore';
import type { GameType } from '../types/Game';
import Header from '../components/core/Header.astro';

const { game } = Astro.params;
if (game) {
  currentGameId.set(game as GameType);
}
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <link href="https://vercel.com/font/mono" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/j9mh.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>J9MH</title>
  </head>
  <body class="min-h-full font-mono m-0 bg-background text-text flex flex-col">
    <div class="fixed top-0 left-0 right-0 z-50 bg-background">
      <Header />
    </div>
    <main class="flex-1 container mx-auto pt-[144px] flex flex-col">
      <slot />
    </main>
  </body>
</html>
