---
import Header from '../components/core/header/Header.astro';
import FontLoader from '../components/core/FontLoader.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="j9mh.ico" />
    <FontLoader />
  </head>
  <body class="bg-background text-text min-h-screen font-mono">
    <Header height="64px" />

    <main class="pt-16">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
  }
</style>
