---
import Image from 'astro/components/Image.astro';
import Header from '../components/core/header/Header.astro';
import FontLoader from '../components/core/FontLoader.astro';
import BackToTop from '../components/core/nav/BackToTop.astro';

import LanceSVG from '../assets/lance.svg';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/j9mh.ico" />
    <FontLoader />
  </head>
  <body class="bg-background text-text min-h-screen font-mono">
    <!-- Lance SVG background -->
    <div
      class="fixed right-8 top-1/5 -translate-y-1/5 w-3/5 h-auto opacity-5 pointer-events-none rotate-6 blur-sm"
    >
      <Image
        src={LanceSVG}
        alt=""
        class="w-full h-full object-contain opacity-50"
        aria-hidden="true"
      />
    </div>
    <Header height="64px" />

    <main class="pt-16">
      <slot />
    </main>

    <div class="md:hidden">
      <BackToTop />
    </div>
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
  }
</style>
